/* #dataContainer {
    display: none; // Hide initially
} */
body {
    background-color: #D7D9CE;
}

#dataContainer ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    list-style-type: none;
}

#dataContainer li {
    display: flex;
    margin: 5px;
    padding: 10px;
    border: 2px solid #d1b0b0;
    align-items: center;
    justify-content: center;
    width: 15%;
    height: 30vh;
}

section {
    background-color: #6A6B83;
    height: 15vh;
}

section a{
    margin: 10px;
    color: #02A9EA;
}

h2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #50c7f7;
    font-size: x-large;
}

section {
    padding: 10px;
}

a {
    font-size: larger;
    color:aqua;
}